<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.mobile_centre_managementConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=mobile_centre_management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>